/* Header en mode plein écran */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh; /* Hauteur de l'image de fond au début */
  background: url('../../assets/screen2.jpg') no-repeat center center/cover; /* Image de fond */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  z-index: 1000;
  overflow: hidden; /* Empêche le débordement */
}

/* Image du logo */
.PokeEmpire {
  width: 200px; /* Taille initiale du logo */
  height: auto;
  position: absolute; /* Position absolue pour un placement précis */
  top: 50%; /* Position initiale du logo */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Centrage parfait du logo */
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Conteneur des boutons d'authentification */
.auth-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1001;
}

/* Style des boutons d'authentification */
.auth-button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.login-button:hover {
  background-color: white;
  color: #333;
}

.register-button {
  background-color: #ff4d4d;
  color: white;
}

.register-button:hover {
  background-color: #ff3333;
}
